<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donorware</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=VT323&display=swap" rel="stylesheet">

    <style>
      html,
      body,
      #root {
        margin: 0;
        height: 100%;
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 600;
        overflow: hidden;
        background-color: black;
        color: #03e503
      }

      #root {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
